checkpoints
evaluation_parameters
great_expectations_wrapper/__pycache__
gcp_key_spark.json
yellow_tripdata_2021-01.parquet:Zone.Identifier
validations
docs
.pytest_cache
easy_ge/__pycache__
tests/__pycache__
images/gewrap.png:Zone.Identifier
*.pyc
__pycache__/
.vscode
.vscode/
tests/test_configs/checkpoints
tests/test_configs/docs
tests/test_configs/validations
./expectations
